.coloursectioon{
   color: rgb(31, 31, 119);
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    color: #4EBE9E !important;
}
.nav-link{
    font-size: 1.5rem;

    color: #4EBE9E !important;
}
.nav-item{
    font-size: 1.5rem;

    color: #4EBE9E !important;
    background-color: rgb(248, 246, 241);
}
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
.download-button{
    margin: 5% 3% 5% 0;
}
#title{
    background-color:#F4F5F7 ;
    color: rgb(0, 0, 5);
    text-align: left;
}
.feature-title{
    font-size: 1.5rem;
    color: #000000;
}
.feature-desc{
    font font-size: 1rem;
    color: #4EBE9E;
}
.bot-l2{
font-style: italic;
font-weight: 600;
color: white;
}
#contact-info{
    background-color: rgba(0, 0, 0, 0.795);
    padding: auto;
}
.fa-map{
    color: white;
}
.fa-mobile-alt{
    color:white ;
}
.bot-l1{
    color: white;
}
.fa-envelope {
    color: white;
}
.fa-instagram{
    color: white;
    
}
#testimonials{
    background-color: teal;

}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5rem;
    text-align: center;

}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}